pipeline/AdventureWorksSales.json
{
	"name": "AdventureWorksProducts",
	"properties": {
		"description": "Copy products data from adventure work on prem db to ADLS gen 2",
		"activities": [
			{
				"name": "ProductModifiedDateLookup",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"dataset": {
						"referenceName": "SQLDBServer",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFileName",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ProductModifiedDateLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('FileNameLookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyDataFromBlobToADLS",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": true
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BlobChurnData",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ChurnDataADLS2",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		]
	}
}